.logo-container{
  border: 1px solid black;
  position: fixed;
  display: flex;
  align-items: center;

  top: 30px;
  left: 30px;
}

.logo-img{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.logo-img img{
  height: 68%
}

.logo-name{
  margin-left: 6px;
  font-family:Arial;
  font-size: 14pt;
}

.logo-name span{
  font-family:Arial;
  font-size: 18pt;
  color: rgb(129, 73, 188);
  font-weight: bold;
}

.nav-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  gap:4px;

  transform: translateY(-50%);
  top: 50vh;
  right:-5px;
}

.tab{
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  background-color: grey;
  color: white;
  padding: 10px 10px;
}