.home-page{
  display: flex;
  background-color: antiquewhite;
  align-items: center;

  padding-left: 100px;
  height: 100vh;
}

.home-page img{
  border: 1px solid black;
}

.intro-container{
  border: 1px solid black;
  width: 50%;
}

.intro-hi{
  border: 1px solid black;
  font-weight: bold;
  font-size: 36pt;
  margin-bottom: 20px;
}

.intro-hi img{
  padding: 0px 6px;
  height: 36pt;
}

.intro-container p{
  border: 1px solid black; 
  width: 500px; 
}