.logo-container{
  border: 1px solid black;
  position: fixed;
  display: flex;
  align-items: center;

  top: 30px;
  left: 30px;
  z-index: 1000;
}

.logo-img{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.logo-img img{
  border: 1px Solid black;
  height: 68%
}

.logo-name{
  border: 1px Solid black;
  font-family:Arial;

  margin-left: 6px;
  font-size: 14pt;
}

.logo-name span{
  border: 1px Solid black;
  font-family:Arial;
  font-weight: bold;

  font-size: 18pt;
  color: rgb(129, 73, 188);
}

.nav-container{
  border: 1px Solid black;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap:4px;

  translate: 0px -50%  0px;
  top: 50vh;
  right:-5px;
  z-index: 1000;
}

.tab{
  border: 1px Solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  background-color: grey;
  color: white;
  padding: 10px 10px;
  
}