.about-page{
  background-color: lightblue;
  display: flex;
  align-items: center;

  height: 100vh;
  padding-left: 100px;
}

.about-page img{
  border: 1px Solid black
}

.about-container{
  border: 1px Solid black;
  text-align: center;
  width: 50%;
}

.about-container p{
  margin-top: 20px;
  margin-bottom: 20px;
}

.learn-icon{
  border: 1px Solid black;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  vertical-align: bottom;
  margin-top: 20px;
}

.icon-style{
  border: 1px Solid black;
}

.icon-style div {
  border: 1px Solid black;
  display: table-caption;
  width: 100%;
}