.skill-page{
  background-color: rgb(222, 255, 193);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.show-tech{
  border: 1px Solid black;
  display: grid;
  grid-auto-flow: column;
  padding-left: 100px;
  grid-template: repeat(6,80px) / repeat(2,300px);
  column-gap: 20px;
  row-gap: 24px;
}

.skill-container{
  border: 1px Solid black;
  display: flex;
  align-items: center;
}

.skill-detail{
  border: 1px Solid black;
  margin-left: 10px;
  font-weight: bold;
}


.bar{
  display: inline-block;
  margin-right:5px;
  border: 1px Solid black;
  height: 6px;
  width: 30px;
  border-radius: 10px;
}